body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
  background-image: url("../images/tile.png");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  min-height: 100vh;
}

h1,
h2 {
  color: #533318;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: rgb(27, 0, 0);
}

header, footer {
  background-color: #e4d3b993;
  width: 100%;
  height: auto;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portada {
  width: 30%;
  height: auto;
  border-radius: 15px;
  margin-top: 15px;
}

.oferta-img {
  width: 25%;
  height: auto;
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 60px;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center; /* opcional: centra los elementos horizontalmente */
  gap: 20px; /* opcional: añade espacio entre los enlaces */
  list-style: none; /* quita los puntos de la lista */
  padding: 0;
}

section h2 {
  text-align: center;
}

.contenedor-texto {
  margin-top: 10px;
  background-color: #f5e2c4a9;
  width: 500px;
  height: 500px;
}

iframe {
  margin-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

